<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean class="in.mh.beans.Address" id="addrId">
    	<constructor-arg value="1096"/>
    	<constructor-arg value="Cumilla"/>
    	<constructor-arg value="3500"/>
    </bean>

    <bean class="in.mh.beans.Student" id="stdId1">
    	<constructor-arg value="Tonoy"/>
    	<constructor-arg value="107"/>
    	<constructor-arg ref="addrId"/>
    </bean>
    
    <bean class="in.mh.beans.Student" id="stdId2">
    	<constructor-arg value="Mozammal"/>
    	<constructor-arg value="101"/>
    	<constructor-arg ref="addrId"/>
    </bean>
   
</beans>